@-webkit-keyframes flashOnRender {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0,0,0,0.5) !important;
  -webkit-animation: flashOnRender 0.2s;
  z-index: 900;
}

.ReactModal__Content--after-open {
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 10%;
  border-radius: 10px;

  div.scroll div:last-child {
    position: absolute;
    top: auto;
    bottom: 1em;
  }
}
