.minis {
  img {
    width: 60% !important;
    padding: 2em;
    vertical-align: center;
  }
  // .vert-helper {
  //   display: inline-block;
  //   width: 0;
  //   height: 100%;
  // }
}

.activated {
  -webkit-transition: backround-color 0.2s;
  background-color: lighten(#40606D, 50%) !important;
}

.scroll {
  max-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
