@import "../../bower_components/pure/pure.css";
@import "../../bower_components/ionic/scss/ionic";

@import "home";

#googleMap {
	width: 700px;
	height: 500px;
	max-width: 100%;
	background-color: #EDEDED;
	margin: 20px auto;
	text-align: center;
}


.loading-txt {
	margin: 20px auto;
	padding: 200px;
	font-size: 1.3em;
}

.bar.bar-positive {
	background-color: #465688;
}

