@import "../../bower_components/pure/pure.css";
@import "../../bower_components/ionic/scss/ionic";

@import "home";

$map-width: 700px;
$map-height: 500px;

.map-wrapper {
	position: relative;
	width: $map-width;
	height: $map-height;
	margin: 0 auto;
	text-align: center;
	margin-top: 65px;
	padding: 0;
}

.map-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #444;
	opacity: 0.8;
	z-index: 10;
	display: none;
	color: #FFF;
}

#googleMap {
	width: $map-width;
	height: $map-height;
	max-width: 100%;
	background-color: #EDEDED;
	margin: 20px auto;
	text-align: center;
}

.loading-txt {
	margin: 20px auto;
	padding: 200px;
	font-size: 1.3em;
}
