@import "../../bower_components/pure/pure.css";
@import "../../bower_components/ionic/scss/ionic";
@import "home";

#googleMap {
  width: 700px;
  height: 500px;
  max-width: 100%;
  background-color: #EDEDED;
  margin: 20px auto;
}

.bar-positive {
  background-color: #465688;
}

//html {
.ReactModal__Overlay--after-open {

}

//}

.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.75);
}

.ReactModal__Content {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  padding: 20%;
  border: 2px solid black;
  background: #fff;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

